.custom-instruction-arrow-left {
    text-align: center;
    margin-top: 84px;
    font-size: 40px;
    padding: 5%;
}
.custom-instruction {
    padding-top: 5%;
}
.custom-instruction-arrow-up {
    text-align: center;
    font-size: 40px;
    padding: 5%;
}
.custom-instruction {
    font-size: 17px;
}
.custom-show-large {
    font-family: 'Indie Flower', cursive;
    font-size: 19px;
    display: block;
    padding-left: 10%;
    padding-right: 10%;
}
.custom-show-small {
    font-family: 'Indie Flower', cursive;
    font-size: 19px;
    display: none;
}
.custom-checkmark-text {
    margin-left: 10px;
}
.custom-chekmark-position {
    float: right;
}
.custom-active .glyphicon-edit, .custom-active .glyphicon-phone, .custom-active .glyphicon-envelope {
    color: #67b657;
}
.custom-not-active .glyphicon-edit, .custom-not-active .glyphicon-phone, .custom-not-active .glyphicon-envelope {
    color: #374351;
}
.custom-eventhandler-row {
    border-bottom: 2px solid #2B3E50;
    border-top: 2px solid #2B3E50;
}
.custom-eventhandler-row:hover {
    background-color: #485563;
}
.custom-button-trash {
    font-size: 15px;
    color: white;
    background-color: #d9534f;
    margin-top: 10px;
    margin-bottom: 10px;
}
.custom-button-trash:hover {
    background-color: #4E5D6C;
}
.custom-button {
    border: 1px solid #4E5D6C;
    font-size: 30px;
    color: white;
    background-color: #DF691A;
}
.custom-icon-size {
    color: white;
}
.custom-icon-size:hover {
    color: white;
}
.custom-editable {
    background-color: #485563;
    border-style: none;
    color: white;
    width: 69%;
    margin-left: 2%;
    font-size: 16px;
}
.custom-show-accordion .accordion-toggle {
    text-decoration: none;
}
.custom-show-accordion .panel-heading {
    width: 100%;
    background-color: #5BC0DE;
    cursor: pointer;
}
.custom-show-accordion .panel-heading:hover {
    background-color: #485563;
}
.custom-show-accordion .panel-title {
    min-width: 100%;
    text-align: center;
    color: white;
    font-size: 15px;
}
.custom-show-accordion .panel-heading {
    border-radius: 0;
}
.custom-show-accordion .panel-group {
    margin-bottom: 10px;
}
.custom-show-accordion .panel-body {
    margin: 0;
    padding: 10px 0 0 0;
}
.custom-btn-group {
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    width: 95%;
}
.custom-property {
    font-size: 14px;
    margin: 5px;
    padding: 1px;
    border-left: 1px solid #3d4a59;
    border-right: 1px solid #3d4a59;
}
.custom-property-special {
    font-size: 14px;
    margin: 5px;
    padding: 1px;
    border-left: 1px solid #3d4a59;
    border-right: 1px solid #3d4a59;
    background-color: #3484a1
}
.custom-property-special:hover {
    background-color: #1c536b;
}
.custom-sidebar {
    position: absolute;
    width: 72%;
    margin-left: 5%;
    z-index: 5;
}
.custom-sidebar a {
    cursor: pointer;
    color: white;
}
.custom-sidebar-body {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.custom-sidebar-input-search {
    border-color: #333333;
    width: 100%;
}
.custom-sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.custom-sidebar-list-element {
    cursor: pointer;
    padding: 5px 5px 5px 10px;
    margin: 4px;
    border: 1px solid #47b2d8;
    border-left: 20px solid #47b2d8;
    background-color: #374351;
}
.custom-sidebar-list-element:hover {
    background-color: #47b2d8;
}
.custom-save-buttons {
    width: 100%;
    background-color: #DF691A;
    height: 30px;
    padding: 0;
    border: 0;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.custom-confirmation-buttons {
    width: 100%;
    background-color: #5CB85C;
    height: 50px;
    padding: 0;
    border: 0;
    line-height: 50px;
    vertical-align: middle;
    color: white;
    margin-bottom: 10px;
}
.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin: 20px 0;
}
