<div class="container" data-ng-controller="HeaderController">
    
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a href="/#!/" class="navbar-brand"> <img src="/modules/users/img/evert_logo_small.png" height="50" alt="Evert"> </a>
    </div>
    
    <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
        
        <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
            <li> <a href="#!/eventtypes">Event types</a> </li>
            <li> <a href="#!/eventtype">Event handler</a> </li>
            <li> <a href="#!/help">Help</a> </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
            <li ui-route="/signup" ng-class="{active: $uiRoute}"> <a href="/#!/signup">Sign Up</a> </li>
            <li class="divider-vertical"></li>
            <li ui-route="/signin" ng-class="{active: $uiRoute}"> <a href="/#!/signin">Sign In</a> </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-user">&nbsp;</span> <span data-ng-bind="authentication.user.displayName"></span> </a>
                <ul class="dropdown-menu">
                    <li> <a href="/#!/settings/profile">Edit Profile</a> </li>
                    <li data-ng-show="authentication.user.provider === 'local'"> <a href="/#!/settings/password">Change Password</a> </li>
                    <li class="divider"></li>
                    <li> <a href="/auth/signout">Signout</a> </li>
                </ul>
            </li>
        </ul>

    </nav>
</div>
