<section data-ng-controller="HomeController" class="help">
    <div class="custom-help-container row">
        <div class="col-xs-12 col-sm-3 custom-help-sidebar">
            <ul>
                <li><a href="/#!/help#getting_started">Getting started</a> </li>
                <li> <a href="/#!/help#logging_in">Logging In</a> </li>
                <li> <a href="/#!/help#event_types">Event Types</a> </li>
                <li> <a href="/#!/help#event_handlers">Event Handlers</a> </li>
                <li> <a href="/#!/help#available_placeholders">Available placeholders</a> </li>
                <li> <a href="/#!/help#email_handler">Email Handler</a> </li>
                <li> <a href="/#!/help#text_message_handler">Text Message Handler</a> </li>
                <li> <a href="/#!/help#scripting_handler">Scripting handler</a> </li>
                <li> <a href="/#!/help#functions">Functions</a> </li>
                <li> <a href="/#!/help#evert_functions">Evert functions</a> </li>
                <li> <a href="/#!/help#api">Add API’S</a> </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-9  custom-help-scrollit">
            
            <article id="getting_started" class="custom-help-article">
                <div class="custom-help-space-top"></div>
                <h4>Getting started</h4>
                <p>Evert is a user friendly system to define how different events that take place in a big system should be handled. Evert’s interface offers a simple way to create templates for emails and text messages and a more advanced feature where a user can write their own scripts using JavaScript where they can utilize all functions in Evert and also select functions in the clients API.</p>
                <div class="custom-help-space"></div>
            </article>
            
            <article id="logging_in" class="custom-help-article">
                <div class="custom-help-space-top"></div>
                <h4>Logging In</h4>
                <p>To access the system you will need a username and password from your system administrator. The event types available to handle are tied to users so creating a new user/password combination will not get you the necessary access to create event handlers. To logout click the button at the top right hand side of the page with the users name on it. There is a drop down and one feature is to log out.</p> 
                <img src="/modules/core/img/help/Login.png" alt="">
                <div class="custom-help-space"></div>

            </article>
            

            <article id="event_types" class="custom-help-article">
                <div class="custom-help-space-top"></div>
                <h4>Event Types</h4>
                <p>After you log into the system you will see a list of available event types. These are the events that Evert is prepared to handle. These can be ordered alphabetically, chronologically and there is also a search bar where you can search for the event type you want by name. Find the one you want to write a handler for and click it. This will take you to the event handler page. Whenever you want to get back to the event type page click the Evert logo at the top right hand side of the page or the Event handler tab next to it.</p>
                <img src="/modules/core/img/help/EventTypes.png" alt="">
                <div class="custom-help-space"></div>

            </article>
            

            <article id="event_handlers" class="custom-help-article">
                <div class="custom-help-space-top"></div>
                <h4>Event Handlers</h4>
                <p>There are three types of event handlers available. Email handler, Text message handler and a scripting handler. The Email and text message handlers are simple and easy to use but the Scripting handler requires some programming knowledge since it accepts code written in JavaScript. To create an event handler for a specific event type you can select the event type itself from the Event type page or select the Event handler page and then select the preferred event type from the drop down list.</p> 
                <img src="/modules/core/img/help/EventHandler.png" alt="">
                <div class="custom-help-space"></div>

            </article>
            

            <article id="available_placeholders" class="custom-help-article">
                <div class="custom-help-space-top"></div>
                <h4>Available placeholders</h4>
                <p>All handlers offer available placeholders for that event type. You can select information to be filled in from the occurring event by clicking the “Available placeholders” button. There you can see buttons that will deposit placeholders into the text where the blinker is situated that will be filled in with information from the event when it takes place. This might be a date, name of an object or something like that. Let’s say the event taking place is a teacher registering a book for a course. Then this might be filled with the books name or ISBN number for example.</p>
                <img src="/modules/core/img/help/Placeholders.png" alt="">
                <div class="custom-help-space"></div>

            </article>
            

            <article id="email_handler" class="custom-help-article">
                <div class="custom-help-space-top"></div>
                <h4>Email Handler</h4>
                <p>To create a new email handler for the selected event type click the envelope symbol at the bottom left hand side of the page. Then an empty template will appear at the right hand side of the page. Fill in the destination, subject and main content to your liking and save the template. For those that want there is a button with available with placeholders that can be inserted directly into the main content. For further information see below.</p> 
                <img src="/modules/core/img/help/EmailHandler.png" alt="">
                <div class="custom-help-space"></div>

            </article>
            

            <article id="text_message_handler" class="custom-help-article">
                <div class="custom-help-space-top"></div>
                <h4>Text Message Handler</h4>
                <p>To create a new text message handler for the selected event type click the mobile symbol at the bottom left hand side of the page. Then an empty template will appear at the right hand side of the page. Fill in the destination, subject and main content to your liking and save the template. For those that want there is a button with available with placeholders that can be inserted directly into the main content. For further information see below.</p> 
                <img src="/modules/core/img/help/TextMessageHandler.png" alt="">
                <div class="custom-help-space"></div>

            </article>
            

            <article id="scripting_handler" class="custom-help-article">
                <div class="custom-help-space-top"></div>
                <h4>Scripting handler</h4>
                <p>To create a scripting handler for the selected event type click the JS symbol at the bottom left hand side of the page. The scripting handler accepts code written in JavaScript. A knowledgeable user can write whatever handler they want for that particular event type. They can access functions in Evert and functions in the clients system as well. What they can do in the clients system depends on the access the system administrator has granted. For those that want there are three buttons with available with placeholders and functions that can be inserted directly into the code. For further information see below.</p> 
                <img src="/modules/core/img/help/ScriptingHandler.png" alt="">
                <p>The view for placeholders is a bit different in the scripting handler but the functionality is the same as discussed above.</p> <img src="/modules/core/img/help/ScriptingPlaceholder.png" alt="">
                <div class="custom-help-space"></div>

            </article>
            

            <article id="functions" class="custom-help-article">
                <div class="custom-help-space-top"></div>
                <h4>Functions</h4>
                <p>You can select an available function from the occurring event by clicking the “Functions” button. These functions are functions from your API that you have given Evert access too. To use information from your API you will have to create a function in your code to call for information and that information will only be accessible within that functions scope. After clicking the “functions” button you can see buttons that will deposit placeholders into the text where the blinker is situated that will be filled in with information needed to use a function in the clients system.</p> 
                <img src="/modules/core/img/help/ScriptingFunctions.png" alt="">
                <div class="custom-help-space"></div>

            </article>
            

            <article id="evert_functions" class="custom-help-article">
                <div class="custom-help-space-top"></div>
                <h4>Evert functions</h4>
                <p>You can select an available function from Evert by clicking the “Evert functions” button. Evert functions are integrated in Evert’s system and can thus be accessed wherever you want in your code. After clicking the “Evert functions” button you can see buttons that will deposit placeholders into the text where the blinker is situated that will be filled in with information needed to use a function in Evert.</p> 
                <img src="/modules/core/img/help/ScriptingEvertFunctions.png" alt="">
                <div class="custom-help-space"></div>
            </article>   
            <article id="api" class="custom-help-article">
                <div class="custom-help-space-top"></div>
                <h4>Add API’S</h4>
                <p>You can add a connection to a restful API through the scripting function. By pressing the button ‘Add api’ a code snippet is added where you only have to add path, host and then manipulate the data.</p> <img src="/modules/core/img/help/addAPI.png" alt="">
                <div class="custom-help-space"></div>
            </article>           
            <article class="custom-help-article">
                <div class="custom-help-space-top"></div>
                <h4>Example</h4>
                <p>Example of using others systems API to get further information to use in your own script, for example in emails, text messages, etc. This example uses the information from the clients API, Centris in this case, to fill in an email.</p> <img src="/modules/core/img/help/codeSample.png" alt="">
                <p>The email function is embedded into Evert and all that is needed to use it is to set the address and subject and then use the sendEmail function. To get information from the clients API you will have to use the client.get function but the information is only available within the functions scope and thus the sendEmail function is called with the client.get functions scope.</p>
                <div class="custom-help-space"></div>
            </article>
        </div>
    </div>
</section>
