<section data-ng-controller="HomeController">
   
    <div data-ng-controller="EventtypesController" data-ng-init="find()">
        <div class="page-header">
            <h3>Available events to handle</h3> </div>
        <div class="list-group">
            <a data-ng-repeat="eventtype in eventtypes" data-ng-href="#!/eventtypes/{{eventtype.eventId}}" class="list-group-item">
                <h4 class="list-group-item-heading" data-ng-bind="eventtype.eventName"></h4> </a>
        </div>
        <div class="alert alert-warning text-center" data-ng-hide="!eventtypes.$resolved || eventtypes.length"> No available event type yet </div>
    </div>
    
    <br>Final project for Reykjavik university,
    <br>Hildur Andrjesdóttir, Hulda Lárusdóttir and Ólafur Ómarsson 
</section>
