.content {
    margin-top: 80px;
}
.navbar-help {
    position: relative;
    background-color: pink;
}
.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
.ng-valid.ng-dirty {
    border-color: #78FA89;
}
.custom-help-sidebar {
    position: fixed;
    padding: 2%;
    width: 23%;
}
.custom-help-space {
    height: 50px;
}
.custom-help-space-top {
    height: 50px;
    background-color: #2B3E50;
}
.custom-help-sidebar ul {
    text-decoration: none;
    list-style: none;
}
.custom-help-sidebar li {
    text-decoration: none;
    list-style: none;
    margin: 1%;
    padding: 2%;
}
.custom-help-scrollit {
    float: left;
    width: 77%;
    margin-left: 25%;
}
.custom-help-article {
    background-color: #3d4a59;
    margin: 5px 0;
}
.custom-help-article h4 {
    padding: 3% 0 0 5%;
    color: #d45304;
    font-weight: bolder;
}
.custom-help-article p {
    padding: 2% 5%;
}
.custom-help-article img {
    width: 90%;
    border: 1px solid white;
    margin-left: 5%;
}
