<section data-ng-controller="EventhandlersController">
    <div data-ui-view>
        
        <div class="custom-instruction-arrow-left custom-show-large"> <img src="/modules/eventhandlers/img/arrow_left.png" width="100" alt=""> </div>
        
        <div class="custom-show-large">You can view all the handlers associated to a specific event on the left. You can also click on an handler to see a more detailed view and even edit the handler.
            <br> Note: if you don't see any handlers on the left, it's time to make one, click on one of the three buttons on the left. </div>
       
        <div class="custom-instruction-arrow-up text-center custom-instruction-arrow custom-show-small"> <img src="/modules/eventhandlers/img/arrow_up.png" width="100" alt=""> </div>
        
        <div class="custom-show-small">You can view all the handlers associated to a specific event above. You can also click on an handler to see a more detailed view and even edit the handler.
            <br> Note: if you don't see any handlers above, it's time to make one, click on one of the three buttons here above.</div>
   
    </div>
</section>
