<section data-ng-controller="EventhandlersController" data-ng-init="find()">
    <div class="panel panel-default">
        
        <div class="panel-heading" ng-if="eventhandlers.length<=0">No available handler for this event</div>
        
        <div class="panel-heading" ng-if="eventhandlers.length>0">Available handlers
            <div class="custom-chekmark-position">
                <input type="checkbox" ng-model="showAll"> <span ng-if="showAll" class="custom-checkmark-text">Active</span> <span ng-if="!showAll" class="custom-checkmark-text">Show all</span> </div>
        </div>
       
        <table class="custom-table">
            <tr>
                <td class="col-sm-1 text-center">Type</td>
                <td class="col-sm-4 text-left">Handler name</td>
                <td class="col-sm-1 text-center"><span class="glyphicon glyphicon-trash"></span>
                </td>
            </tr>
            <tr class="custom-eventhandler-row" ng-repeat="handler in eventhandlers | handlerList:id:showAll" ng-class="handler.active ? 'custom-active' : 'custom-not-active'">
                <td class="col-sm-1 text-center">
                    <div class="text-center" ng-if="handler.name === 'email'"> <span class="glyphicon glyphicon-envelope"></span> </div>
                    <div ng-if="handler.name === 'sms'"> <span class="glyphicon glyphicon-phone"></span> </div>
                    <div ng-if="handler.name === 'js'"> <span class="glyphicon glyphicon-edit"></span> </div>
                </td>
                <td class="col-sm-1"> <a class="custom-short-text" ui-sref="eventtype.viewEventtype.handler({eventhandlerId:handler._id})" tooltip="{{ handler.description }}">{{ handler.description }}</a> </td>
                <td class="col-sm-1 text-center">
                    <div data-ng-click="deleteConfirm(handler)" data-toggle="confirm" tooltip="Delete handler"> <span class="glyphicon glyphicon-remove"></span> </div>
                </td>
            </tr>
        </table>
        
        <div class="panel-footer">
            <div class="btn-group btn-group-justified">
                <div class="btn-group" ng-if="eventhandlers.length != 0">
                    <button class="btn custom-button-trash" data-ng-click="deleteAllConfirm()"> Delete all handlers above </button>
                </div>
            </div>
        </div>

    </div>
    
    <script type="text/ng-template" id="delete.html">
        <div class="modal-header">
            <h3 class="modal-title">Delete {{handler}}!</h3> </div>
        <div class="modal-body"> Are you sure you want to delete this handling? </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    
    <script type="text/ng-template" id="deleteAll.html">
        <div class="modal-header">
            <h3 class="modal-title">Delete all eventhandlers for this event!</h3> </div>
        <div class="modal-body"> Are you sure you want to delete all handlers? </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
   
    <div class="panel panel-default">
        <div class="panel-heading">Create new handling</div>
        <div class="panel-body">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button data-ng-click="createHandler('email')" data-toggle="confirm" tooltip="Create email handler" type="button" class="btn btn-default custom-button"> <span class="glyphicon glyphicon-envelope custom-icon-size"></span> </button>
                </div>
                <div class="btn-group">
                    <button data-ng-click="createHandler('sms')" data-toggle="confirm" tooltip="Create sms handler" type="button" class="btn btn-default custom-button"> <span class="glyphicon glyphicon-phone custom-icon-size"></span> </button>
                </div>
                <div class="btn-group">
                    <button data-ng-click="createHandler('js')" data-toggle="confirm" tooltip="Create js handler" type="button" class="btn btn-default custom-button"> <span class="glyphicon glyphicon-edit custom-icon-size"></span> </button>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/ng-template" id="createModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Create {{type}} eventhandler!</h3> </div>
        <div class="modal-body">
            <label class="control-label" for="description">Write handler description</label>
            <div class="controls">
                <input type="text" data-ng-model="description" id="description" class="form-control" placeholder="Create description" required ng-init="$element.focus()"> </div>
            <div data-ng-show="error" class="text-danger"> <strong data-ng-bind="error"></strong> </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok(description)">Create</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

</section>
