<section data-ng-controller="EventhandlersController" data-ng-init="findOne()"> 
  <div class="panel panel-default" data-ng-submit="update()" novalidate>
    <div class="panel-heading">

      <span class="glyphicon glyphicon-envelope" ng-if="eventhandler.name === 'email'"></span>
      <span class="glyphicon glyphicon-phone" ng-if="eventhandler.name === 'sms'"></span>
      <span class="glyphicon glyphicon-edit" ng-if="eventhandler.name === 'js'"></span>

      <input type="text" class="custom-editable" data-ng-model="eventhandler.description" ng-change="change('reload')">
      <input type="checkbox" ng-model="eventhandler.active" ng-change="change('reload')"><span class="custom-checkmark-text">Active</span>
    </div>
    <div class="panel-body">
      <form class="form-horizontal"> 
        <fieldset>                
          <div ng-if="eventhandler.name === 'email'">
            <label>e-mail address</label>
              <div class="controls">
                <input type="text" placeholder="eg. student@ru.is, teacher@ru.is, ..." data-ng-model="eventhandler.content.reciver" class="form-control"  required>
              </div>
              <label>subject</label>
              <div class="controls" >
               <input type="text" placeholder="Try to be descriptive here." data-ng-model="eventhandler.content.subject" class="form-control" required>
              </div>

              <accordion class="custom-show-accordion"> 
                <accordion-group heading="Available placeholders" ui-sref="eventtype.viewEventtype.handler.buttons">
                  <div data-ng-controller="EventtypesController" data-ng-init="findOne()">
                   <div class="btn-group btn-group-justified text-center custom-btn-group">
                      <div class="btn-group">
                        <div class="buttons padding" data-ng-repeat="button in eventtype.buttons">
                          <div ng-if="button.value != null && button.name != null">
                            <button type="button" class="btn btn-info btn-sm custom-property" ng-click="addInfo(button.name, 'info', '')">
                              {{button.value}}
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>        
                  </div>
                </accordion-group>
              </accordion>

              <div class="controls">
                <textarea information type="textarea" placeholder="Try one of the placeholders above, they make the writing easier." data-ng-model="eventhandler.content.message" rows="6" class="form-control custom-form-email">     
                </textarea>
              </div>

            </div>
            <div ng-if="eventhandler.name === 'sms'">
              <label>Phone number</label>
              <div class="controls">
                <input type="text" placeholder="eg. 688-5522 ..." data-ng-model="eventhandler.content.reciver" class="form-control"  required>
              </div>
            
              <accordion class="custom-show-accordion"> 
                <accordion-group heading="Available placeholders" ui-sref="eventtype.viewEventtype.handler.buttons">
                  <div data-ng-controller="EventtypesController" data-ng-init="findOne()">
                    <div class="btn-group btn-group-justified text-center custom-btn-group">
                      <div class="btn-group">
                        <div class="buttons padding" data-ng-repeat="button in eventtype.buttons">
                          <div ng-if="button.value != null && button.name != null">
                            <button type="button" class="btn btn-info btn-sm custom-property" ng-click="addInfo(button.name, 'info', '')">
                              {{button.value}}
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>        
                  </div>
                </accordion-group>
              </accordion>

              <div class="controls">
                <textarea information type="textarea" placeholder="Try one of the placeholders above, they make the writing easier." data-ng-model="eventhandler.content.message" rows="6" class="form-control custom-form-sms">     
                </textarea>
              </div>
            </div>
            <div ng-if="eventhandler.name === 'js'">
              <div class="controls">  
                <div class="btn-group btn-group-justified">
                  <div class="btn-group">
                    <button data-ng-click="state.placeholder = !state.placeholder; state.client=false; state.evert=false; query.placeholder = '';" type="button" class="btn btn-info btn-sm custom-property" >Placeholder
                    </button>
                  </div>

                  <div class="btn-group">
                    <button data-ng-click="state.client = !state.client; state.evert=false; state.placeholder=false; query.client = '';" type="button" class="btn btn-info btn-sm custom-property">Functions
                    </button>
                  </div>

                  <div class="btn-group">
                    <button data-ng-click="state.evert = !state.evert; state.client=false; state.placeholder=false; query.evert = '';" type="button" class="btn btn-info btn-sm custom-property">Evert Functions
                    </button>
                  </div>

                  <div class="btn-group">
                    <button data-ng-click="addInfo('api', 'api', 'js'); state.evert = false; state.client=false; state.placeholder=false" type="button" class="btn btn-important btn-sm custom-property-special">Add api
                    </button>
                  </div>
                </div>

                <div class="custom-sidebar">
                  <div data-ng-show="state.placeholder">
                    <div class="panel panel-default" data-ng-controller="EventtypesController" data-ng-init="findOne()">
                      <div class="panel-heading">
                        <div class="text-center">
                          <input autofocus placeholder="Search" onkeypress="return event.keyCode!=13" type="text" class="text-center custom-sidebar-input-search" ng-model="query.placeholder"/>
                        </div>
                      </div>
                      <div class="panel-body custom-sidebar-body">
                        <ul class="custom-sidebar-list" data-ng-repeat="button in eventtype.buttons | filter:query.placeholder" >
                          <div ng-if="button.value != null && button.name != null">
                            <li class="custom-sidebar-list-element" ng-click="addInfo(button.name, 'info', 'js'); state.placeholder = !state.placeholder;">
                              {{button.value}}
                            </li>
                          </div>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div data-ng-show="state.client">
                    <div class="panel panel-default" data-ng-controller="ScriptsController" data-ng-init="find()">
                      <div class="panel-heading">
                        <div class="text-center">
                          <input autofocus placeholder="Search" onkeypress="return event.keyCode!=13" type="text" class="text-center custom-sidebar-input-search" ng-model="query.client" />
                        </div>
                      </div>
                      <div class="panel-body">
                        <ul class="custom-sidebar-list" data-ng-repeat="func in scripts[0].functions | filter:query.client">
                          <div ng-if="func.name != null">
                            <li class="custom-sidebar-list-element" ng-click="addInfo(func.value, 'client', 'js'); state.client = !state.client;" tooltip="{{func.comment}}">
                              {{func.name}}
                            </li>
                          </div>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div data-ng-show="state.evert">
                    <div class="panel panel-default" data-ng-controller="EventhandlersController" data-ng-init="evertFunctions()">
                      <div class="panel-heading">
                        <div class="text-center">
                           <input autofocus placeholder="Search" onkeypress="return event.keyCode!=13" type="text" class="text-center custom-sidebar-input-search" ng-model="query.evert" />
                        </div>
                      </div>
                      <div class="panel-body">
                        <ul class="custom-sidebar-list" data-ng-repeat="func in functions | filter:query.evert">
                          <div ng-if="func.name != null">
                            <li class="custom-sidebar-list-element" ng-click=" state.evert = !state.evert; addInfo(func.value, 'evert', 'js')">
                              {{func.name}}
                            </li>
                          </div>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>  
                <div id="aceEditor" ui-ace="{
                  useWrapMode : true,
                  showGutter: false,
                  theme:'monokai',
                  mode: 'javascript',
                  firstLineNumber: 5,
                  onLoad : aceLoaded,
                }" data-ng-model="eventhandler.content.message" information>  
              </div>
            </div>
          </div>
          <div>
            <input type="submit" value="Save handler" class="btn btn-default custom-save-buttons" >
          </div>

          <div ng-if="saved" class="btn btn-default custom-confirmation-buttons">
            The handler is successfully saved.
          </div>

        </div>    
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>

      </fieldset>
    </form>
  </div>
</section>
