<section data-ng-controller="EventhandlersController">
    <div data-ng-init="getHandlerTypes()">  
        <label>Create new handling...............</label>
       
        <accordion close-others="oneAtATime">
            <accordion-group heading="{{type.name}}" data-ng-repeat="type in handlerTypes">
                <div class="form-group">
                    <label class="control-label" for="description">Create handler description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="description" id="description" class="form-control" placeholder="Create description" required>
                    </div>
                    <div class="form-group">
                        <input ng-click="create(description, type.value, eventtype.eventId)" type="submit" class="btn btn-default">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    
    </div>
</section>