<section  data-ng-controller="EventtypesController" data-ng-init="find()">
	<div <div class="row">
 		
 		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 box">
			<div class="dropdown">
  				<button type="text" class="btn-large btn-default dropdown-toggle custom-event-button" type="button" id="dropdownMenu" data-toggle="dropdown">
  					
					<div class="custom-event-button-subtext">Event type</div>
  					<div data-ui-view="name" class="custom-event-button-text">Please select event type
  						<span class="caret"></span>
  					</div>
  				</button>
  				<ul class="dropdown-menu custom-event-button-menu" role="menu" aria-labelledby="dropdownMenu"> 
    				<li data-ng-repeat="eventtype in eventtypes">

    					<a ui-sref=".viewEventtype({eventtypeId:eventtype.eventId})" data-ng-bind="eventtype.eventName"></a>
					</li>
  				</ul>
			</div>
			<div data-ui-view="handlerList"></div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 box">
			
			<div data-ui-view="handlerView">

				<div class="text-center custom-instruction-arrow custom-show-large"><img src="/modules/eventhandlers/img/arrow_left.png" width="100" alt=""></div>
				<div class="custom-show-large custom-instruction">To get started, please select an event type from the drop down window on the left to see how it is handled in Evert</div>

				<div class="text-center custom-instruction-arrow custom-show-small"><img src="/modules/eventhandlers/img/arrow_up.png" width="100" alt=""></div>
				<div class="custom-show-small custom-instruction">To get started, please select an event type from the drop down window above to see how it is handled in Evert</div>
					
			</div>
		</div>
		
	</div>
</section>
