<section data-ng-controller="EventtypesController" data-ng-init="find();">

    <div class="list-group">

        <h3 class="text-center">Available events to handle</h3>


        <div class="panel panel-default">
            <div class="panel-body">

                <div class="btn-group btn-group-sm btn-group-justified">

                    <div class="btn-group btn-group-sm">
                        
                            <div class="text-center">
                                <input placeholder="Search" type="text" class="text-center custom-input-search" ng-model="query" />
                            </div>

                    </div>
                    <div class="btn-group btn-group-sm">
                        <button data-ng-click="setOrder('eventName');" tooltip="Sort in alphabetical order" type="button" class="btn btn-default custom-button">
                            <span>Sort by A -> Z</span>
                        </button>
                    </div>
                    <div class="btn-group btn-group-sm">
                        <button data-ng-click="setOrder('time'); " tooltip="Sort by date created" type="button" class="btn btn-default custom-button">
                            <span>Sort by date</span>
                        </button>
                    </div>
                    <div class="btn-group btn-group-sm">
                        <button data-ng-click="setOrder('noHandlers');" tooltip="Sort by number of handlers" type="button" class="btn btn-default custom-button">
                            <span>Sort by number of handlers</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>


        <a data-ng-repeat="eventtype in eventtypes | filter:query | orderBy:order:reverse" data-ng-href="#!/eventtype/{{eventtype.eventId}}" class="list-group-item">

            <h4>{{ eventtype.eventName }}
                <span class="pull-right">{{ eventtype.time | date:'dd/MM/yyyy @ H:mm' }}<span class="badge custom-badge">{{ eventtype.noHandlers }}</span></span>
            </h4>

        </a>

    </div>
    <div class="alert alert-warning text-center custom-noavailable-event" data-ng-hide="!eventtypes.$resolved || eventtypes.length">
        No available event type yet
    </div>
</section>
