.box {
    margin: 10px 0 10px 0;
}
.custom-event-button {
    min-width: 100%;
    text-align: left;
    font-size: 16px;
    padding: 8px;
    padding-left: 13px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #5BC0DE;
}
.custom-event-button:hover {
    background-color: #3d8095;
}
.caret {
    float: right;
    margin-top: 8px;
}
.custom-event-button-menu {
    min-width: 100%;
}
.custom-event-button-subtext {
    font-size: 15px;
}
.custom-event-button-text {
    font-size: 19px;
}
.buttons {
    margin: 2px;
    display: inline-block;
}
.custom-table {
    line-height: 40px;
    font-size: 15px;
    padding: 5px;
    width: 100%;
}
.custom-table > a {
    color: red;
}
.custom-show-buttons {
    width: 100%;
    background-color: #5BC0DE;
    height: 30px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.custom-form-group {
    padding: 0;
    margin-bottom: -10px;
}
label {
    font-size: 14px;
    font-style: italic;
}
.custom-badge {
    background-color: #df691a;
    margin-left: 20px;
    font-size: 16px;
}
.ace_editor {
    height: 578px;
}
.trash {
    cursor: pointer;
}
.custom-input-search {
    width: 99%;
    height: 29px;
    border-color: #df691a;
}
.custom-form-sms {
    min-height: 491px;
}

.custom-form-email {
    min-height: 426px;
}
.custom-noavailable-event{
    background-color: #DF691A;
}
table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
    max-width: 164px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 15px;
    position: relative;
}
@media (max-width: 768px) {
    .custom-show-small {
        display: block;
    }
    .custom-show-large {
        display: none;
    }
    table a:not(.btn), .table a:not(.btn) {
        max-width: 190px;
    }
    .custom-editable {
        width: 69%;
    }
    .custom-sidebar {
        position: absolute;
        width: 72%;
        margin-left: 8%;
    }
    .custom-help-sidebar {
        position: relative;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .custom-help-scrollit {
        float: left;
        width: 100%;
        margin-left: 0;
    }
}
@media (min-width: 992px) {
    table a:not(.btn), .table a:not(.btn) {
        max-width: 224px;
    }
    .custom-editable {
        width: 75%;
    }
    .custom-sidebar {
        position: absolute;
        width: 72%;
        margin-left: 7%;
    }
}
@media (min-width: 1200px) {
    table a:not(.btn), .table a:not(.btn) {
        max-width: 180px;
    }
    .custom-editable {
        width: 85%;
    }
    .custom-sidebar {
        position: absolute;
        width: 72%;
        margin-left: 10%;
    }
}
